.led-indicator {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #000000;
  box-shadow: 0 4px 8px rgba(255, 0, 0, 0.1);
  margin-bottom: 20px;
}

.f-encendido {
  color: #fdff6b; 
}

.form-switch .form-check-input {
  height: 2.5em; 
  width: 7em; 
}

.form-switch .form-check-input:checked {
  background-position: right center;
}

.form-switch .form-check-input:checked::before {
  transform: translateX(1.5em); 
}

h1{
  color: #ffffff;
}
.card-color {
  background-color: #8c8d92; 
  color: white; 
}