/* src/components/Reportes.css */

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-hover tbody tr:hover {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.075);
}

.table-dark {
  background-color: #343a40;
  color: #fff;
}

.btn-filtros{
  background-color: rgb(247, 202, 143);
  margin-right:  20px;
  color: #000000;
}

.btn-filtros:hover {
background-color: rgb(246, 177, 87);
color: #ffffff;
}